body {
  margin: 0;
  width: 1440px;
  max-height: 1024px;
  background: #F7FAF2;
  font-family: 'Nunito', sans-serif;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.logo {
  font-size: 52px;
  font-weight: bold;
  color: #58A547;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  margin-top: 4px;
  margin-bottom: 40px;
}

/* Card */
.login-card {
  width: 550px;
  height: 360px;
  padding: 24px 42px 24px 42px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.from_group {
  width: 100%;
}

/* Text inside card */
.heading {
  font-size: 24px;
  font-weight: 600;
  margin: 12px 0 12px 0;
  line-height: 100%; 
}

.desc {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  margin: 12px 0 24px 0;
  line-height: 100%;
}

/* Input */
label {
  font-size: 24px;
  font-weight: 450;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  margin: 12px 0 20px 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #B3B3B3;
}

/* Button */
.btn {
  width: 100%;
  background: #58A547;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;

  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease, transform 0.3s ease;
}

.btn:hover {
  background: #4E9443;
  transform: scale(1.05);
}

/* Sign up link */
.signup {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  margin-top: 14px;
}

.signup a {
  color: #58A547;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}

.register-card{
  width: 510px;
  height: 550px;
  padding: 24px 42px 24px 42px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}